<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- COMENTAR ESTA LINEA Y CAMBIARLA POR LA VUESTRA -->
		<!-- CONEXION ORDENADOR CLASE MARCOS -->
		<add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A57FHVE\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!-- CONEXION ORDENADOR CLASE FRAGA 
	  <add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=C02PC03\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
	</connectionStrings>
</configuration>