<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!-- CONEXION ORDENADOR MARCOS -->
		<!-- <add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=C02PC01\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
		<add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IPVOIVV\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!-- CONEXION ORDENADOR FRAGA -->
		<!-- <add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-A57FHVE\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
		<!-- <add name="ProyectoMFEEntities" connectionString="metadata=res://*/Infrastructure.ProyectoMFE.csdl|res://*/Infrastructure.ProyectoMFE.ssdl|res://*/Infrastructure.ProyectoMFE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=C02PC19\SQLEXPRESS;initial catalog=ProyectoMFE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>